/* Estilos generales del cuerpo de la p치gina */
body {
    background-color: black;
    padding: 0;
    margin: 0; /* Elimina m치rgenes predeterminados del cuerpo */
    font-family: Arial, sans-serif; /* Cambia la fuente predeterminada */
}

/* Estilos del contenedor principal */
.container {
    height: 1344px;
    width: 816px; /* Aprovecha todo el ancho de la ventana */
    max-width: 960px; /* Limita el ancho m치ximo del contenedor */
    margin: 20px auto; /* Centra el contenedor en la p치gina y agrega margen superior e inferior */
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    padding: 20px; /* Agrega espacio interno al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para las tablas */
/* Estilos para las tablas */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

/* Estilos para las celdas del encabezado de la tabla */
th {
    background-color: #bebdbd;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    padding: 8px;
}

/* Estilos para las celdas de datos de la tabla */
td {
    text-align: left;
    border: 1px solid #000;
    padding: 8px;
}

/* Estilo para la clase "logo" */
.logo img {
    display: block;
    margin: 0 auto; /* Centra la imagen dentro de la celda */
}

/* Estilo para la clase "algo" */
.algo {
    max-width: 380px;
    max-height: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    font-size: 15px;
    margin-top: 20px; /* Agrega margen superior a elementos con la clase "algo" */
}
.nose{
width: 250px;
text-align: center;
}

.igual{
background-color: #ffffff;
font-weight: normal;
}

